.aboutContent{
  margin: 1rem;
  color: #fff;;
  max-width: 700px;
  background-color: rgba(192,192,192,0.3);
  padding: 1rem;
}

.aboutContainer{
  display: flex;
  flex-direction: column;
  line-height: 1.3rem;
}

h1 {
  margin: 1rem;
  text-align:center;
  color:#fff;
}



.practingContainer{
  display: flex;
  justify-content: center;
}

.practing{
  width: 320px;
  min-height: 300px;
  background-image: url('../pics/practicing.jpg');
  background-position: cover;
  background-size: contain;
  background-repeat: no-repeat;
}

@media (min-width:1024px){
  .aboutContainer{
    flex-direction: row-reverse;
  }
  .aboutContent{
    margin-top: 0;
  }

  .practing{
    width: 55vw;
    min-height: 100%;
  }
}
