.banner li {
  list-style: none;
  padding: 1rem 0;
  text-align: center;

}

li:hover {
  cursor: pointer;
}

.banner ul{
  display: flex;
  flex-direction: column;
}

 hr{
   width: 70%;
  color: black;
}
