.musicContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* margin: 6rem; */
  padding-bottom: 10rem;
}

.song{
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  padding: 1rem;
  align-self: center;

}

@media (min-width:320px){
  /* .song{
    width:200px;
    height:150px;
  } */
}

/* width=' 200px' height='150px'  */
