.downloadBtn{
  width: 100%;
  background-color: tomato;
  border-style: none;
  height:48px;
}

.downloadPolicy{
  display:flex;
  color:#fff;
  justify-content: center;
  flex-direction: column;
}

.downloadPolicy a{
  outline: inherit;

  /* color:#2d2d2d; */
}
.policiesContainer{

  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 auto;
  /* background-image: url('../pics/bgPattern.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed; */
}

.policyContent{
  margin: 1rem;
  padding: 1.5rem;
  /* display: flex; */
  flex-direction: column;
  justify-content: center;
  background: grey;
  background:rgba(169,169,169, 0.4);
  color:#fff;
  line-height: 1.3rem;
}
.policyContent h3{
  text-decoration: underline;
}
.policyContent h1{
  line-height: normal;
}

.pricingContainer{
  margin: 1rem;

  color:#fff;
  background:rgba(169,169,169, 0.4);
  /* max-width: 365px; */
}

.pricingContainer h1{
  margin: 0;
  margin-top: 1rem;
}
@media (min-width:320px) {
  .downloadBtn{
    width: 100%;
    font-size: 1.2rem;
  }
  .downloadPolicy p{
    padding:.6rem;
    padding-bottom: 0;
  }
}
@media (min-width:768px){

  .downloadBtn{
    width: 30vw;
  }
  .downloadPolicy p{
    padding-left: 0;
  }
  .policyContent{
    width:60vw;
  }
  .pricingContainer{
    width:60vw;
    padding:1.5rem;
  }
}
