.downloadBtn{
  width: 100%;
  background-color: tomato;
  border-style: none;
  height:48px;
}

.downloadPolicy{
  display:flex;
  color:#fff;
  justify-content: center;
  flex-direction: column;
}

.downloadPolicy a{
  outline: inherit;
}

.lineDivider{
  width: 100%;

}
.neighborhoodContainer{
  background:rgba(169,169,169, 0.2);
  display: flex;
  color: #fff;
  align-items: center;
  flex-direction: column;
  margin: 1rem;
  padding: 1.5rem;
  padding-top: 0;

}

.neighborhoodContainer ul{
  padding:0;

}

.neighborhoodContainer li{
  line-height: 1.3rem;
  list-style: none;
}
.policiesContainer{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 auto;
}

.policyContent{
  margin: 1rem;
  padding: 1.5rem;
  padding-top: 0;
  flex-direction: column;
  justify-content: center;
  background: grey;
  background:rgba(169,169,169, 0.2);
  color:#fff;
  line-height: 1.3rem;
}
.policyContent h3{
  text-decoration: underline;
}
.policyContent h1{
  line-height: normal;
}

.pricingContainer{
  margin: 1rem;
  padding: 1.5rem;
  padding-top: 0;
  color:#fff;
  background:rgba(169,169,169, 0.2);

}

.pricingContainer h1{
  margin: 0;
  margin-top: 1rem;
}

@media (min-width:320px) {
  .downloadBtn{
    width: 100%;
    font-size: 1.2rem;
  }
  .downloadPolicy p{
    padding:.6rem;
    padding-bottom: 0;
  }
  .groupLessons p{
    width:40vw;

  }
  .mapContainer{
    width:300px;
    height:400px;
  }
  .neighborhoodContainer{
    margin: 1rem;
    padding: 1.5rem 0;
  }
  .neighborhoodLocation li{
    padding: .5rem ;
  }
  .neighborhoodLocation{
    text-align: center;
  }
}
@media (min-width:768px){

  .downloadBtn{
    width: 30vw;
  }
  .downloadPolicy p{
    padding-left: 0;
  }
  .downloadPolicy{
    align-items: center;
  }
  .groupLessons p{
    width: auto;
    display: flex;
    align-self: center;
  }
  .homeLocation{
    display: flex;
    align-items: baseline;
  }
  .homeLocation p{
    margin: 1rem;
  }
  .mapContainer{
    width:90%;
     height:480px;
  }
  .neighborhoodContainer{
    width:60vw;

  }
  .policyContent{
    width:60vw;
  }
  .pricingContainer{
    width:60vw;
    padding:1.5rem;
    padding-top: 0;
  }

}

@media(min-width:1080px){
  .pricingContainer div{
    justify-content:space-around;
  }
}
