.App {
  text-align: center;
}

/* .App-title {
  font-size: 1.5em;
  text-align: left;
} */

.App-intro {
  font-size: large;
}

button:hover {
  cursor: pointer;
}

.centerDiv{
  display: flex;
  justify-content:  center;
}
/* @media (min-width:320px)  {
  .home-header {
    color:purple;
  }
}
@media (min-width:480px)  {
  .home-header{
    color:black;
  }
}
@media (min-width:600px)  {
  background-color:purple;
} */

/* @media (min-width:320px)  { /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
/* @media (min-width:480px)  { /* smartphones, Android phones, landscape iPhone */
/* @media (min-width:600px)  { /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
/* @media (min-width:801px)  { /* tablet, landscape iPad, lo-res laptops ands desktops */
/* @media (min-width:1025px) { /* big landscape tablets, laptops, and desktops */
/* @media (min-width:1281px) { /* hi-res laptops and desktops   */
