.App {
  text-align: center;
}

/* .App-title {
  font-size: 1.5em;
  text-align: left;
} */

.App-intro {
  font-size: large;
}

button:hover {
  cursor: pointer;
}
.centerText{
  margin: 0 auto;

}
.centerDiv{
  display: flex;
  justify-content:  center;
}
.block{
  display: block;
}
.mainContainer{
  background-image: url('./pics/bgPattern.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
